  
.navbar-brand {
    font-size: 36px;
}
.text-center {
    text-align: center!important;
}
.container{
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
.city{
    background-color: rgb(180, 211, 241);
    text-decoration-style: ghostwhite;
    padding-left: 15px;
    padding-right: 15px;
    border-color: blanchedalmond;   
}